/AgendaContatos/AgendaContatos/AgendaContatos/obj
/AgendaContatos/AgendaContatos/AgendaContatos/bin
/AgendaContatos/AgendaContatos/AgendaContatos.Android/bin
/AgendaContatos/AgendaContatos/AgendaContatos.Android/obj
